#bg {
  background-color: #345160;
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.75);
}